name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      TRUFFLERUBYOPT: "--engine.Mode=latency"
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 2.4.10
          - 2.7.8
          - 3.0.6
          - 3.1.4
          - 3.2.3
          - 3.3.0
          - jruby-9.2
          - jruby-9.4
        command: ["bundle exec rake test"]
        include:
          - ruby: "head"
            command: "bundle exec rake test || true"
          - ruby: "truffleruby"
            command: "bundle exec rake test || true"
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: bundle install
        run: bundle install

      - name: run tests
        run: ${{ matrix.command }}
